<div class="container">
 <div class="row">
  <div class="col m-3">
    <h1>注文履歴詳細</h1><br>
    <table class='table table-borderless' >
     <tr>
       <th>購入者</th>
	     <td><%= @order.name %></td>
     </tr>
     <tr>
	     <th>注文日</th>
	     <td><%= @order.created_at %></td>
	   </tr>
	   <tr>
	     <th>配送先</th>
	       <td>〒<%= @order.post_address %><%= @order.address %></td><br>
         <td><%= @order.name %></td>
	   </tr>
		 <tr>
	     <th>支払方法</th>
	     <td><%= @order.pay_method_i18n %></td>
	   </tr>
	   <tr>
	    <th>注文ステータス</th>
	     <td>
	     <%= form_with(model: @order, url: owner_order_path(@order),method: :patch, local: true, class: "form-row") do |f| %>
       <%= f.select :order_status, Order.order_statuses_i18n.invert, {}, class:"form-control form-control-sm col-6"  %>
       <%= f.submit "更新",class: "btn register_button motion" %>
       <% end %>
       </td>
	   </tr>
	  </table>
	  <table class="table">
  <thead class="thead-left">
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
    </tr>
  </thead>
  <tbody>
      <% @order_items.each do |order_item| %>
    <tr>
      <td><%= order_item.item.name %></td>
      <td><%= order_item.price_after_tax.to_s(:delimited) %></td>
      <td><%= order_item.order_quantity %></td>
      <td><%= order_item.subtotal.to_s(:delimited) %></td>
      <td>
      <%= form_with url: owner_order_item_path(order_item), model:order_item, method: :patch, local:true do |s| %>
      <%= s.select :product_status, OrderItem.product_statuses_i18n.invert, {}, {class: "mr-5",required: true} %>
      <%= s.submit "更新", class: "btn register_button motion" %>
      <% end %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>
      <div class="offset-md-1">
        <table class="table table-borderless">
          <tr>
            <th class="table-color">商品合計</th>
            <td><%= @total_price_except_postage.to_s(:delimited) %></td>
          </tr>
          <tr>
            <th class="table-color">送料</th>
            <td><%= @order.postage.to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <th class="table-color">請求金額合計</th>
            <td><%= @order.amount_claimed.to_s(:delimited) %>円</td>
          </tr>
	</div>
 </div>
</div>