<div class="container">
 <div class="row">
  <div class="col m-3">
    <h1>商品詳細</h1><br>
    <table class='table'>
     <tr><%= attachment_image_tag @item, :image, :fill, 200, 200 %></tr>
     <tr>
       <th>商品名</th>
	     <td><%= @item.name %></td>
     </tr>
     <tr>
	     <th>商品説明</th>
	     <td><%= @item.body %></td>
	   </tr>
	   <tr>
	     <th>ジャンル</th>
	     <td><%= @item.genre.name %></td>
	   </tr>
		 <tr>
	     <th>税込価格(税抜価格)</th>
	     <td>
	       <%= @item.add_tax_price_before_tax.to_s(:delimited) %>
	       (<%= @item.price_before_tax.to_s(:delimited) %>)円
	     </td>
	   </tr>
	   <tr>
	     <th>販売ステータス</th>
	     <% if @item.is_active == "販売中" %>
	     <p>販売中</p>
	     <% else %>
	     <p>販売停止中</p>
	     <% end %>
	   </tr>
	  </table>
	  <div class="text-center">
      <%= link_to "編集する", edit_owner_item_path(@item), class:"btn btn-secondary" %>
    </div>
  </div>
 </div>
</div>

