<div class="container">
 <div class="row">
  <div class="col m-3">
    <h1>商品詳細</h1><br>
    <p><%= attachment_image_tag @item, :image, :fill, 200, 200 %><p>
    <table class='table'>
     <tr>
       <th>商品名</th>
	     <td><%= @item.name %></td>
     </tr>
     <tr>
	     <th>商品説明</th>
	     <td><%= @item.body %></td>
	   </tr>
	   <tr>
	     <th>ジャンル</th>
	     <td><%= @item.genre.name %></td>
	   </tr>
		 <tr>
	     <th>税込価格(税抜価格)</th>
	     <td>
	       <%= @item.add_tax_price_before_tax.to_s(:delimited) %>
	       (<%= @item.price_before_tax.to_s(:delimited) %>)円
	     </td>
	   </tr>
	   <tr>
	     <th>販売ステータス</th>
	     <% if @item.is_active? %>
			   <span class="badge" style="background:#8BCE9A">販売中</span>
			 <% else %>
			   <span class="badge" style="background:#D52438">販売停止中</span>
			 <% end %>
	   </tr>
	  </table>
	  <div class="text-center">
      <%= link_to "編集する", edit_owner_item_path(@item), class:'btn btn-success' %>
    </div>
  </div>
 </div>
</div>