<div class="container">
 <div class="row">
  <div class="col m-3">
    <h1>商品詳細</h1><br>
    <div class = "col-9 mt-5" >
    	<div class="row">
        <div class="col -5 text-center" >
    	<%= attachment_image_tag @item, :image, :fill, 200, 200  %>
    </div>
    <div class = "col -5" >
    <table class='table' >
     <tr>
       <th>商品名</th>
	     <td><%= @item.name %></td>
     </tr>
     <tr>
	     <th>商品説明</th>
	     <td><%= @item.body %></td>
	   </tr>
	   <tr>
	     <th>ジャンル</th>
	     <td><%= @item.genre.name %></td>
	   </tr>
		 <tr>
	     <th>税込価格(税抜価格)</th>
	     <td>
	       <%= @item.add_tax_price_before_tax.to_s(:delimited) %>
	       (<%= @item.price_before_tax.to_s(:delimited) %>)円
	     </td>
	   </tr>
	   <tr>
	     <th>販売ステータス</th>
	     <% if @item.is_active == true %>
			 <td><div class = "text-success">販売中</div></td>
			 <% else %>
			 <td><div class = "text-secondary">販売中止中</div></td>
			 <% end %>
	   </tr>
	  </table>
	  </div>
	  </div>
	  </div>
	  <div class="d-flex justify-content-center mb-5">
      <%= link_to "編集する", edit_owner_item_path(@item), class:'btn btn-success' %>
    </div>
  </div>
 </div>
</div>