<h2>新規会員登録</h2>

<%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <table class="table table-borderless">
    <tbody>
      <tr>
        <div class="field">
          <th>名前</th>
          <td>
            <%= f.label "(姓)" %><br>
            <%= f.text_field :family_name, autofocus: true, class: "name" %>
          </td>
          <td>
            <%= f.label "(名)" %><br>
            <%= f.text_field :first_name, autofocus: true, class: "name" %>
          </td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th>フリガナ</th>
          <td>
            <%= f.label "(セイ)" %><br>
            <%= f.text_field :family_name_kana, autofocus: true, class: "name" %>
          </td>
          <td>
            <%= f.label "(メイ)" %><br>
            <%= f.text_field :first_name_kana, autofocus: true, class: "name" %>
          </td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th>メールアドレス</th>
          <td colspan="2">
            <%= f.email_field :email, size: 78, autofocus: true, autocomplete: "email" %>
          </td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th>郵便番号(ハイフンなし)</th>
          <td>
            <%= f.text_field :post_address, autofocus: true %>
          </td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th>住所</th>
          <td>
            <%= f.text_field :address, autofocus: true %>
          </td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th>電話番号(ハイフンなし)</th>
          <td>
            <%= f.text_field :phone_number, autofocus: true %>
          </td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th>パスワード(6文字以上)</th>
          <td>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th>パスワード(確認用)<</th>
          <td>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </td>
        </div>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="actions">
            <%= f.submit "新規登録", class: "btn btn-lg btn-success" %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<t5>既に登録済みの方</t5>
<%= render "public/shared/links" %>からログインしてください。
