<h1>注文情報確認</h1>
<div class="col-7 d-inline-block">
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |c| %>
      <tr>
        <td><%= c.item.name %></td>
        <td><%= c.item.plus_tax_price.to_s(:delimited) %></td>
        <td><%= c.item.quantity %></td>
        <td><%= c.item.subtotal.to_s(:delimited) %></td>
      </tr>
    <% end %>
    <tr><td>aaa</td></tr>
    <tr><td>aaa</td></tr>
    <tr><td>aaa</td></tr>
    <tr><td>aaa</td></tr>
  </tbody>
</table>
</div>

<div class="col-3 d-inline-block">
<table class="table table-bordered">
  <tbody>
    <tr>
      <th class="table-dark">送料</th>
      <td><%= @order.postage %></td>
    </tr>
    <tr>
      <th class="table-dark">商品合計</th>
      <td>
      <!--%= @cart_items_total_price.to_s(:delimited) %>-->
      </td>
    </tr>
    <tr>
      <th class="table-dark">請求金額</th>
      <td><%= @order.amount_claimed %></td>
    </tr>
  </tbody>
</table>
</div>

<table class="table table-borderless">
  <tr>
    <th>支払方法</th>
    <td><%= @order.pay_method_i18n %></td>
  </tr>
  <tr>
    <th>お届け先</th>
    <td>
      〒<%= @order.post_address %><%= @order.address %><br>
      <%= @order.name %>
    </td>
  </tr>
</table>