<div class="row">
  <div class="col m-3">
    <h3 class="text-white">注文履歴一覧</h3>
		<table class="table table-borderless table-dark mt-5" style="opacity: 0.8;">
		  <thead class="thead-dark">
    <tr>
      <td>注文日</td>
      <td>配送先</td>
      <td>注文商品</td>
      <td>支払金額</td>
      <td>ステータス</td>
      <td>注文詳細</td>
    </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.created_at.strftime("%Y/%m/%d") %></td>
      <td>〒<%= order.post_address %><br>
            <%= order.address %><br>
            <%= order.name %><br>
      </td>
      <td>
				<% order.order_items.each do |order_item| %>
				<%= order_item.item.name %></br>
				<% end %>
			</td>
      <td><%= order.amount_claimed.to_s(:delimited) %>円</td>
      <td><%= order.order_status_i18n %></td>
      <td><%= link_to "表示する", order_path(order), class:'btn btn-primary text-white' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<%= paginate @orders %>