<div class="row">
  <div class="col m-3">
  	<h3>注文履歴詳細</h3>
  	<div class="row">
  	  <div class="col-7 mt-4">
  	<h5 class="mt-6"><strog>注文情報</strog></h5>
  	<table class="table table-borderless table-danger">
    <tbody>
     <tr>
      <td>注文日</td>
      <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
     </tr>
     <tr>
      <td>配送先</td>
      <td>〒<%= @order.post_address %><br>
            <%= @order.address %><br>
            <%= @order.name %>
      </td>
     </tr>
     <tr>
      <td>支払方法</td>
      <td><%= @order.pay_method_i18n %></td>
     </tr>
     <tr>
      <td>ステータス</td>
      <td><%= @order.order_status_i18n %></td>
     </tr>
    </tbody>
  </table>
</div>

<div class="col-4 mt-4">
  <h5 class="mt-6"><strog>請求情報</strog></h5>
  <table class="table table-borderless table-danger">
    <tbody>
      <tr>
       <th class="table-dark">商品合計</th>
       <td><%= (@order.amount_claimed - @order.postage).to_s(:delimited) %>円</td>
      </tr>
      <tr>
       <th class="table-dark">送料</th>
       <td><%= @order.postage %>円</td>
      </tr>
      <tr>
       <th class="table-dark">ご請求額</th>
       <th><%= @order.amount_claimed.to_s(:delimited) %>円</th>
      </tr>
    </tbody>
  </table>
</div>
</div>

<%# 注文内容とテーブルのスペースが埋まらない %>
<div class="row">
  <div class="col">
    <h5 class="mt-3"><strog>注文内容</strog></h5>
    <table class="table table-borderless table-danger">
            <tr>
                <td width ="300">商品</td>
                <td width ="190">単価(税込)</td>
                <td width ="100">個数</td>
                <td width ="100">小計</td>
            </tr>
    　　<% @order.order_items.each do |order_item| %>
       　　<tr>
            <td><%= order_item.item.name %></td>
            <td><%= order_item.item.with_tax_price.to_s(:delimited) %>円</td>
            <td><%= order_item.order_quantity %></td>
            <td><%= order_item.subtotal.to_s(:delimited) %>円</td>
          </tr>
        <% end %>
    </table>
 </div>
</div>
</div>
</div>