<div class="container">
  <div class="row">
    <div class="col m-3">
      <h2>ジャンル一覧　/　追加</h2>
      <div class="my-5">
        <%= form_with model: @genre, url: owner_genres_path, method: :post, local:true do |f| %>
          <p>ジャンル名
          <%= f.text_field :name, placeholder:"ジャンル名" %>
          <%= f.submit "新規投稿", class:"btn btn-outline-success" %>
          </p>
        <% end %>
      </div>
      <table class="table table-danger">
          <thead>
            <tr>
              <th>ジャンル</th>
              <th></th>
            </tr>
          </thead>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td><%= link_to "編集する", edit_owner_genre_path(genre), class:"btn btn-outline-dark" %></td>
            </tr>
            <% end %>
        </table>
    </div>
  </div>
</div>