<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&text=abcdefghijklmnopqrstuvwxvzABCDEFGHIJKLMNOPQRSTUVWXYZ" rel="stylesheet">
  </head>
  <body>
     <body class="d-flex flex-column vh-100">
    <header>
      <nav class="navbar navbar-expand-lg  navbar-light shadow-sm">
        <div class="container">
          <a class="navbar-brand" href="/"><img src="https://fontmeme.com/permalink/211220/f9a7f3f96639037ba1d08f047501f8a0.png" alt="font-pokemon-logo" border="0"></a>
          <button class="navbar-toggler"type="button" data-toggle="collapse"data-target="#navbarSupportedContent"aria-controls="navbarSupportedContent"aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
                <li class="nav-item pt-2 text-white">ようこそ、<%= current_customer.family_name %>様！</li>
                <li class="nav-item ml-4"><%= link_to "My page", mypage_customers_path, class:"nav-link text-white" %></li>
                <li class="nav-item ml-4"><%= link_to "Items", items_path, class:"nav-link text-white" %></li>
                <li class="nav-item ml-4"><%= link_to "Cart", cart_items_path, class:"nav-link text-white" %></li>
                <li class="nav-item ml-4"><%= link_to "Log out",destroy_customer_session_path,method: :delete,class:"nav-link text-white" %></li>
              <% elsif owner_signed_in? %>
                <li class="nav-item ml-4"><%= link_to "Items", owner_items_path, class:"nav-link text-white" %></li>
                <li class="nav-item ml-4"><%= link_to "Customers", owner_customers_path, class:"nav-link text-white" %></li>
                <li class="nav-item ml-4"><%= link_to "Orders", owner_root_path, class:"nav-link text-white" %></li>
                <li class="nav-item ml-4"><%= link_to "Genre", owner_genres_path, class:"nav-link text-white" %></li>
                <li class="nav-item ml-4"><%= link_to "Log out",destroy_owner_session_path,method: :delete,class:"nav-link text-white" %></li>
              <% else %>
                <li class="nav-item ml-4"><%= link_to "About", about_path, class:"nav-link text-white" %></li>
                <li class="nav-item ml-4"><%= link_to "Items", items_path, class:"nav-link text-white" %></li>
                <li class="nav-item ml-4"><%= link_to "Sign up",new_customer_registration_path,class:"nav-link text-white" %></li>
                <li class="nav-item ml-4"><%= link_to "Log in",new_customer_session_path,class:"nav-link text-white" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <% if owner_signed_in? %>
        <%= render 'layouts/owner_search' %>
      <% else %>
        <%= render 'layouts/public_search' %>
      <% end %>
    </header>
    <% if current_page?(root_path) %>
      <main class="mb-auto top">
        <%= yield %>
      </main>
    <% elsif current_page?(about_path) %>
      <main class="mb-auto about">
        <%= yield %>
      </main>
    <% else %>
       <main class="mb-auto mt-5">
          <div class="container">
            <%= yield %>
          </div>
        </main>
      <% end %>
    <footer class="py-3">
      <div class="container text-center text-black">
        <p>© Copyright 2021 NAGANO CAKE All rights reserved.</p>
      </div>
    </footer>
   </body>
  </body>
</html>
